name: Manual Docker Image Build

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Select Git tag to build from'
        required: true
        type: choice
        options:
        
          - v20250617044455
        # put the value of tag you wish to build
          # Optionally update from .github/metadata/latest-tags.json
          
jobs:
  call-reusable:
    uses: ./.github/workflows/reusable-docker-build.yml
    with:
      tag: ${{ inputs.tag }}
